<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rmc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=18.3.24.1218, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
      <add name="PmcV3" version="1.0.0.0" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
      <storage provider="" />
      <reportResolver provider="" />
    </restReportService>
    <appData path="" />
  </Telerik.Reporting>
  <connectionStrings>
    <add name="Rmc.Properties.Settings.TracerConnectionString" connectionString="Data Source=ESPRDSQL1V;Initial Catalog=Tracer;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Rmc.Properties.Settings.ES_SOCKS_StagingAreaConnectionString"
      connectionString="Data Source=ESPRDSQL1V;Initial Catalog=ES_SOCKS_StagingArea;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Rmc.Properties.Settings.ES_SOCKSConnectionString"
      connectionString="Data Source=ESPRDSQL1V;Initial Catalog=ES_SOCKS;Integrated Security=True;Persist Security Info=False;MultipleActiveResultSets=True;Application Name=EntityFramework;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Rmc.Properties.Settings.ESDEVSQL1V_ESSOCKS" connectionString="Data Source=ESPRDSQL1V;Initial Catalog=ES_SOCKS;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Rmc.Properties.Settings.TTS" connectionString="Data Source=HBITTSQA; Initial Catalog=HQ400B;User=NTTRAIN1QA;Password=NTTRAIN1QA;TrustServerCertificate=True" />
    <add name="ES_SOCKSEntities" connectionString="metadata=res://*/Clases.EF_PMC.csdl|res://*/Clases.EF_PMC.ssdl|res://*/Clases.EF_PMC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESPRDSQL1V;initial catalog=ES_SOCKS;integrated security=True;persist security info=False;multipleactiveresultsets=True;application name=EntityFramework;TrustServerCertificate=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntitiesRMC" connectionString="metadata=res://*/EntityFramework.Entities.csdl|res://*/EntityFramework.Entities.ssdl|res://*/EntityFramework.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESPRDSQL1V;initial catalog=ES_SOCKS;integrated security=True;persist security info=False;multipleactiveresultsets=True;application name=EntityFramework;TrustServerCertificate=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ES_SOCKSEntities1" connectionString="metadata=res://*/EntityFramework.EntitiesRMC.csdl|res://*/EntityFramework.EntitiesRMC.ssdl|res://*/EntityFramework.EntitiesRMC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESPRDSQL1V;initial catalog=ES_SOCKS;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ES_SOCKSEntities2" connectionString="metadata=res://*/EntityFramework.Model1.csdl|res://*/EntityFramework.Model1.ssdl|res://*/EntityFramework.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESPRDSQL1V;initial catalog=ES_SOCKS;integrated security=True;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Rmc.Properties.Settings.ESPRDSQL1V_ESSOCKS" connectionString="Data Source=ESPRDSQL1V;Initial Catalog=ES_SOCKS;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <Rmc.Properties.Settings>
      <setting name="appID" serializeAs="String">
        <value>32</value>
      </setting>
    </Rmc.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>